* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

table{
    border-collapse: collapse;
    font-size: 16px;
    width: 100%;
}

table th{
    text-align: left;
    padding: 10px;
    background-color: #439A97;
    color: white;
}

table tr:nth-child(odd){
    background-color: #97DECE;
}

table td{
    padding: 10px;
}

.link_editar{
    color: #2b54b1;
}

.link_eliminar{
    color: #b12b3d;

}

/* BUSCADOR */

.form_busqueda{
    display: flex;
    float: right;
    background-color: initial;
    padding: 10px;
    border-radius: 4px;
    border: 2px solid gray;
}

.form_busqueda .input_busqueda{
    border-radius: 4px;
    border: 2px solid gray;

}

.form_busqueda .btn_busqueda{
    background-color: #439A97;
    color: #FFF;
    padding: 10px 20px;
    border: 0;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 4px;
}

/* BARRA DE BUSQUEDA */

.field {
  display: flex;
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 1200px;
  flex-direction: row;
  padding: 0 40px;

}

.field>input[type=text],
.field>button {
  display:block;
  font-size: 1.2em;
  font-weight: bold;
}

.field button{
  cursor: pointer;
}

.field>input[type=text] {
  flex: 1;
  padding: 0.6em;
  border: 0.2em solid rgb(26, 188, 156);
}

.field>button {
  padding:0.6em 0.8em;
  background-color:rgb(26, 188, 156);
  color:white;
  border:none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconSearch{
    width: 30px;
    filter: invert(1);
}

/* ICONO CERRAR SESION */
.icono-cerrarsesion {
    width: 30px;
}
/* TERMINA ICONO CERRAR SESION*/

/****************** PAGINA LOGIN  ******************/

.container_login{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to bottom, rgba(24, 70, 189, 1), rgba(13, 131, 240, 0.46), rgba(70, 112, 220, 0.85));
}

/* Esta clase login es el form */

.login {
    display: flex;
    flex-direction: column;
    background: #fff;
    text-align: center;
    padding: 20px 25px;
    box-shadow: 0;
    box-shadow: 0 5px 10px #1e3a29;
}

.login .title {
    color: #6ebe8d;
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 30px;
}

.login label {
    margin-bottom: 35px;
}

.login label .fa-solid {
    font-size: 20px;
    color: #6ebe8d;
    margin-right: 10px;
}

.login label input {
    outline: none;
    border: none;
    color: #072020;
    border-bottom: solid 1px #6ebe8d;
    padding: 0 5px;
    font-size: 18px;
}

.login label input::placeholder {
    color: #1e3a29;
}

.login .link{
    color: #1e3a29;
    margin-bottom: 15px;
}

.login .button {
    color: #fff;
    border: none;
    background: linear-gradient(to right, #6ebe8d, #70c5c2);
    padding: 10px 15px;
    cursor: pointer;
    font-size: 20px;
    text-decoration: none;

}
