* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body{
    background-color: #F5F5F5;
}

/* TABLAS NORMALES RESPONSIVE */
table{
    border-collapse: collapse;
    font-size: 16px;
    width: 100%;
}

table th{
    text-align: left;
    padding: 10px;
    background-color: #439A97;
    color: white;
}

table tr:nth-child(odd){
    background-color: #97DECE;
}

table td{
    padding: 10px;
}

.link_editar{
    color: #2b54b1;
}

.link_eliminar{
    color: #b12b3d;

}

/* BUSCADOR */

.form_busqueda{
    display: flex;
    float: left;
    background-color: initial;
    padding: 10px;
    border-radius: 4px;
    border: 2px solid gray;
}

.form_busqueda .input_busqueda{
    border-radius: 4px;
    border: 2px solid gray;

}

.form_busqueda .btn_busqueda{
    background-color: #439A97;
    color: #FFF;
    padding: 10px 20px;
    border: 0;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 4px;
}

/* BARRA DE BUSQUEDA */

.field {
  display: flex;
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 1200px;
  flex-direction: row;
  padding: 0 40px;

}

.field>input[type=text],
.field>button {
  display:block;
  font-size: 1.2em;
  font-weight: bold;
}

.field button{
  cursor: pointer;
}

.field>input[type=text] {
  flex: 1;
  padding: 0.6em;
  border: 0.2em solid rgb(26, 188, 156);
}

.field>button {
  padding:0.6em 0.8em;
  background-color:rgb(26, 188, 156);
  color:white;
  border:none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconSearch{
    width: 30px;
    filter: invert(1);
}

/* ICONO CERRAR SESION */
.icono-cerrarsesion {
    width: 30px;
}
/* TERMINA ICONO CERRAR SESION*/

/****************** PAGINA LOGIN  ******************/

.container_login{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(rgb(28 64 157 / 54%) 0%, rgb(70 112 220 / 8%) 100%);
}

/* Esta clase login es el form */

.login {
    width: 100%;
    max-width: 320px;
    display: flex;
    flex-direction: column;
    background: #ffffff61;
    text-align: center;
    padding: 20px 25px;
    box-shadow: 0 1px 2px #1e3a29;
    border-radius: 25px;
}

.login .title {
    color: #6ebe8d;
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 30px;
}

.login label {
    margin-bottom: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login label .fa-solid {
    color: #FFF;
    background-color: #D15E1D;
    padding: 8px;
    box-shadow: 0 2px 2px 0 #00000057;
}

.container_usuario{
    margin-top: -50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.usuario_arriba{
    width: 86px;
    background-color: #D15E1D;
    padding: 20px;
    color: #FFF;
    border-radius: 75px;
    font-size: 3em;
}

.login label input {
    outline: none;
    border: none;
    color: #072020;
    padding: 5px;
    font-size: 18px;
    box-shadow: 0 2px 2px 0 #00000057;

}

.login label input::placeholder {
    color: #1e3a29;
}

.login .container_link{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.check_remember{
    display: flex;
}

.check_remember input[type="checkbox"]{
    accent-color: #D15E1D;
    margin-left: 2px;
    width: 16px;
    height: 16px;
}
  

.login .link{
    color: #D15E1D;
    font-size: 12px;
}

.login .button {
    color: #fff;
    border: none;
    background-color: #d15f1db8;
    border-radius: 25px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 20px;
    text-decoration: none;
}

/* MENU DE NAVEGACION */

.container_menu{
    display: flex;
    justify-content: space-between;
}

.header{
    background-color: #F5F5F5;
    display: flex;
    width: 100%;
    justify-content: end;
    align-items: center;
    height: 75px;
    padding: 20px 0;
}

.header a{
    cursor: default;
}

.menu{
    display: flex;
    width: 100%;
    max-width: 200px;
}

.menu ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #01161E;
    height: 100vh;
    overflow: auto;
}

.menu li{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu li a ,.menu li span{
    display: block;
    color: white;
    text-decoration: none;
}

.menu li a{
    width: 100%;
    max-width: 80%;
    padding: 12px 8px 12px 16px;
    color: white;
    border-radius: 10px;
    margin-bottom: 10px;
}

.menu li span{
    padding: 12px 8px 50px 8px;
    cursor: default;
}

.menu li a.active {
    width: 100%;
    max-width: 80%;
    background-color: #D15E1D;
    color: white;
    border-radius: 10px;
}

.menu li a:hover:not(.active) {
    background-color: #d7d7d75e;
    color: black;
}



/* PAGINA PACIENTES */

/* .container_general_menu{
    display: flex;
} */

.container_general{
    width: 100%;
    padding: 0 40px;
}

.container_paciente{
    display: grid;
    width: 100%;
    background-color: #124559;
    border: 2px solid black;
    /* height: 600px; */
    justify-items: center;
    grid-gap: 20px;
    padding: 40px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}


.container_paciente ul{
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 300px;
    height: calc(150px + 1vw);
    padding: 15px;
}

.container_paciente ul li:first-child{
    padding: 15px;
    width: 100%;
    text-align: center;
    background-color: white;
    font-weight: bold;
}

.container_paciente ul li:nth-child(2){
    display: flex;
    align-items: center;
    padding: 10px;
    width: 100%;
    justify-content: center;
    height: 100%;
    font-weight: bold;
}
